%h1 Business Survey

.row
  .col-xs-12
    %h3 Help your local Great Streets by filling out this micro-survey.

.row.section
  .col-xs-12
    #geolocate
      .fa.fa-spinner.fa-spin.fa-3x.fa-fw
      Geolocating you!

= simple_form_for @data_point do |f|
  = f.hidden_field :latitude
  = f.hidden_field :longitude

  .row.section
    .col-xs-12
      = f.input :commercial, as: :select, label: 'Is this storefront commercial?'


  #commercial-form
    .row.section
      .col-xs-12
        Please take a photo of the storefront:

    .row.section.image-uploader
      .col-xs-12
        = f.file_field :photo_url, class: 'btn btn-primary'

    .row
      .col-xs-12
        = f.input :business_name, placeholder: "Bob's Burgers"

    .row
      .col-xs-12
        = f.input :business_subcategory_id, collection: @business_subcategories

    .row
      .col-xs-12
        %strong For accuracy's sake, please enter the street address:

    .row.section
      .col-xs-12
        = f.input :street_number, placeholder: '1600'
    .row
      .col-xs-12
        = f.input :address_1, label: 'Street Name', placeholder: 'Pennsylvania Ave'

    .row
      .col-xs-12
        = f.input :quadrant, collection: ['NW', 'NE', 'SE', 'SW']

    .row
      .col-xs-12
        = f.input :vacant, label: 'Is this storefront vacant?'

    .row
      .col-xs-12
        = f.input :outside_condition, as: :select, collection: DataPoint.outside_conditions.map { |key, value| [key.humanize, key] }

    .row
      .col-xs-12
        = f.input :inside_condition, as: :select, collection: DataPoint.inside_conditions.map { |key, value| [key.humanize, key] }

    .row.section
      .col-xs-12
        = f.submit 'Complete Survey', class: 'btn btn-primary'

  #non-commercial
    %h4 Sorry - we only need data for commercial storefronts!
